/* ------------Global styles---------------- */

body {
  font-family: 'Arial', serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
}

/* Vertical Navigation Styles */
nav.navbar-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  background-color: white; /* Plain white background */
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

nav div.spacer {
  height: 0rem;
}

nav a {
  color: #000000; /* Black text */
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  transition: transform 0.3s ease;
  font-size: 18px;
  text-align: center;
  position: relative;
}

nav a:hover {
  transform: scale(1.1);
}


/* Adjust main content to accommodate sidebar */
div.page-container {
  margin-left: 200px;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  width: calc(100% - 200px);
  min-height: 100vh;
  overflow-y: auto;
}

.dropdown-item {
  color: #000000; /* Black text */
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  transition: transform 0.3s ease;
  font-size: 18px;
  text-align: center;
  position: relative;
  cursor: pointer; /* Make Collection clickable */
}

.dropdown-item:hover {
  transform: scale(1.1);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  text-align: center; /* Center the dropdown items */
  padding-left: 0; /* Remove unintended left indentation */
}

.dropdown-menu a {
  font-size: 16px;
  text-align: center;
  padding: 0.5rem 1rem; /* Ensure same padding as other links */
}