/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Vertical Navigation Styles */
nav.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  transition: width 0.3s ease; /* Smooth transition when resizing */
}

nav a,
.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  font-size: 18px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
}

nav a:hover,
.dropdown-item:hover {
  transform: scale(1.1);
}

nav .dropdown-menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

nav .dropdown-menu a {
  font-size: 16px;
  padding: 0.5rem 1rem;
}

div.page-container {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center top;
  align-items: center;
  height: 100vh;
  width: calc(100% - 400px);
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
}

/* Contact Page Styles */
.contact-title-container {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-title-container .title {
  font-size: 2rem;
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #333;
  outline: none;
}

.contact-form textarea {
  resize: vertical;
  min-height: 350px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.submit-button {
  background-color: #000;
  color: white;
  font-size: 1.2rem; /* Increased font size */
  font-weight: bold;
  padding: 1rem 1.5rem; /* Increased padding */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

/* Responsive Design --- This has to be at the bottom */  
@media (max-width: 768px) {
  /* Horizontal Navbar for smaller screens */
  nav.navbar-container {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
  }

  nav a,
  .dropdown-item {
    font-size: 16px;
    margin: 0;
    padding: 1rem;
  }

  div.page-container {
    margin-left: 0;
    width: 100%;
    height: auto;
  }
}
